@charset "utf-8";
/* CSS Document */
body {
	background: black; 
}
#Navigation {
	background-color: #282727; 
    width: calc(100%);
    height: calc(8%);
    position: fixed;
    top: 0%;
    left: 0%;
	z-index: 3; 
	box-shadow: 5px 5px 12.5px #282727;
}